


<form (ngSubmit)="onSubmit()" [formGroup]="formSeach" class="editform">
<div class="row row-cols-auto justify-content-md-center">
 
  <div class="col">
    <select class="form-select" aria-label=".form-select-lg example" formControlName="phanloai">

      <option value="Bán Đất Huế">Bán Đất Huế</option>
      <option value="Bán Nhà Huế">Bán Nhà Huế</option>
      <option value="Cho Thuê Đất Huế">Cho Thuê Đất Huế</option>
      <option value="Cho Thuê Nhà Huế">Cho Thuê Nhà Huế</option>


    </select>
  </div>
  <div class="col">
    <select class="form-select" aria-label="Default select example" formControlName="loaibds">

      <option  *ngFor="let tenloaibds of loaibsd" value="{{tenloaibds.tenloaibds}}">{{tenloaibds.tenloaibds}}</option>

    </select>
  </div>
  <div class="col">
    <select class="form-select" aria-label="Default select example" formControlName="khuvuc">

      <option *ngFor="let tenkhuvuc of khuvuc" value="{{tenkhuvuc.tenkhuvuc}}">{{ tenkhuvuc.tenkhuvuc }}</option>
    </select>
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary">Tìm Kiếm Nâng Cao</button>


  </div>

</div>
</form>
