.kv-h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:darkblue;
    font-size: 1.3em;
}
.editform{
    width: 70%;
    margin: 20px auto;
}
.btn{
    padding-right: 10px;
    padding-left: 10px;
}
