<div class="card">

    <div class="card-header">
       Tìm Kiếm BDS
    </div>
    <div class="card-body">
    <div class="mb-3">



    </div>

        <!--login form-->
        <form (ngSubmit)="onSubmit()" [formGroup]="formSeach">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">BDS Bán & BDS Thuê</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="phanloai">

              <option value="BDS Thuê">BDS Thuê</option>
              <option value="BDS Bán">BDS Bán</option>
      
            </select>
        </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Danh Mục</label>
            <select class="form-select" aria-label="Default select example" formControlName="loaibds">

              <option  *ngFor="let tenloaibds of loaibsd" value="{{tenloaibds.tenloaibds}}">{{tenloaibds.tenloaibds}}</option>

              </select>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Khu Vực</label>
            <select class="form-select" aria-label="Default select example" formControlName="khuvuc">

              <option *ngFor="let tenkhuvuc of khuvuc" value="{{tenkhuvuc.tenkhuvuc}}">{{ tenkhuvuc.tenkhuvuc }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Tìm Kiếm</button>

        </form>

    </div>
  </div>