<div class="row row-cols-auto justify-content-md-center">

    <img src="../../../../assets/d.png" class="img-fluid" alt="...">
    <!-- <div class="col">
        <h2 class="edith2">LIÊN HỆ ĐĂNG TIN</h2>
    </div>
    <div class="col">
        <h2 class="edith2"><i class="icon"><mat-icon>phone</mat-icon></i>  0943.457.222</h2>
    </div>
    <div class="col">
        <h2 class="edith2"><i class="icon"><mat-icon>email</mat-icon></i> hungthinhphat@hungthinhphat.vip</h2>
    </div>
    <div class="col">
        <h2 class="edith2"><i class="icon"><mat-icon>home</mat-icon></i> 30 Hai Bà Trưng - TP. Huế</h2>
    </div> -->
</div>
