<div class="card xichxuong">

    <div class="card-header">
        Khu Vực
    </div>
     <div class="col-12">
        <div class="list-group" id="list-tab" role="tablist">
        <!--  <a *ngFor="let tenkhuvuc of khuvuc;let i=index" 
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(tenkhuvuc, i)"
          
           class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" role="tab" aria-controls="list-home" routerLink="/khuvuc/{{tenkhuvuc.tenkhuvuc}}">{{tenkhuvuc.tenkhuvuc}}</a>
-->
              <a *ngFor="let tenkhuvuc of khuvuc;let i=index" class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" role="tab" aria-controls="list-home" >{{tenkhuvuc.tenkhuvuc}}</a>
        </div>

    </div>  
</div>