<div>
    <h1>Thêm Bất Động Sản</h1>
  <form>
    <div class="mb-3">
        <select class="form-select" aria-label="Default select example"  formControlName="phanloai" required>
            <option value="BDS Bán">BDS Bán</option>
            <option value="BDS Thuê">BDS Thuê</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="gia" class="form-label">Chọn Danh Mục BDS</label>
    
        <b>Vui long chọn danh mục</b>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>