<div class="col-lg-12 content py-4 mb-2 mb-sm-0 pb-sm-5">
    <div class="pb-4">
      <nav aria-label="breadcrumb">
        <h2 *ngIf="currentBds" class="tieude">{{currentBds.tenbds}}</h2>
      </nav>
     
    </div>

    <!-- Post author + Sharing-->
    <div class="row position-relative g-0 align-items-center border-top border-bottom mb-4">
      <div class="col-md-6 py-3 pe-md-3">
        <div class="d-flex align-items-center justify-content-center justify-content-md-start">
          <div class="d-flex align-items-center me-grid-gutter">
            <div class="ps-2">
              <h6 class="nav-heading mb-1"><a class="edit" href="#" *ngIf="currentBds">Tư Vấn: {{currentBds.lienhe}}</a></h6>
              <div class="text-nowrap">
                <div class="meta-link fs-xs"  *ngIf="currentBds"><i class="me-1 align-vertical"><mat-icon>phone</mat-icon></i>&nbsp;{{currentBds.sodienthoai}}</div><span class="meta-divider"></span><a class="meta-link fs-xs" *ngIf="currentBds" href="#comments" data-scroll><i class="me-1 align-vertical"><mat-icon>message</mat-icon></i>&nbsp;{{currentBds.zalo}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-md-block position-absolute border-start h-100" style="top: 0; left: 50%; width: 1px;"></div>
      <div class="col-md-6 ps-md-3 py-3">
        <div class="d-flex align-items-center justify-content-center justify-content-md-end">
          <h6 class="text-nowrap my-2 me-3">Share post:</h6><a class="btn-social bs-outline bs-facebook ms-2 my-2" href="#"><i><mat-icon>facebook</mat-icon></i></a><a class="btn-social bs-outline bs-twitter ms-2 my-2" href="#"><i><mat-icon>add_to_drive</mat-icon></i></a><a class="btn-social bs-outline bs-google ms-2 my-2" href="#"><i><mat-icon>g_translate</mat-icon></i></a><a class="btn-social bs-outline bs-email ms-2 my-2" href="#"><i><mat-icon>email</mat-icon></i></a>
        </div>
      </div>
    </div>
    <!-- Post content-->
    <p class="py-3" *ngIf="currentBds">Mô tả: {{currentBds.mota}}</p>
    <h2 class="h3 pt-2 pb-4 kv-h2">Hình Ảnh Trực Quan</h2>

    <!--slider-->
    <div>
     <ngb-carousel>
       <ng-template ngbSlide *ngFor="let img of image; let i=index">
         <div class="picsum-img-wrapper">
           <img src="https://namphamtrade.com/public/uploads/{{img}}" class="editimg" alt="Random first slide">
         </div>
         <div class="carousel-caption">
           <h3>{{img}}</h3>
           <p>Bất Động Sản Thừa Thiên Huế.</p>
         </div>
       </ng-template>

     </ngb-carousel>

   </div>


   <h2 class="xichxuong kv-h2">Thông Tin Chi Tiết</h2>
   <div class="bg-faded-primary rounded-3 p-4 mb-4">
     <div class="p-md-3">
       <blockquote class="blockquote mb-0">

         <ul class="chitiet">
          <li><i class="edit">Vị Trí : </i><p class="editp" *ngIf="currentBds">{{currentBds.vithebds}}</p>
          </li>
          <li><i class="edit">Công Năng : </i><p class="editp" *ngIf="currentBds">{{currentBds.congnang}}</p>
          </li>
          <li><i class="edit">Diện Tích : </i><p class="editp" *ngIf="currentBds">{{currentBds.dientich}}</p>
          </li>
          <li><i class="edit">Hướng : </i><p class="editp" *ngIf="currentBds">{{currentBds.huong}}</p>
          </li>
          <li><i class="edit">Vay Vốn : </i><p class="editp" *ngIf="currentBds">{{currentBds.hotrovayvon}}</p>
          </li>
          <li><i class="edit">Giá Sale : </i><p class="editp" *ngIf="currentBds">{{currentBds.giabds}}</p>
          </li>
        </ul>
       </blockquote>
     </div>
   </div>
    <!--slider-->


    <!-- Tags + Sharing-->



    <!-- Comments-->
 </div>
   
    <!-- Related posts (carousel)-->
