<footer class="bg-light text-center text-white text-lg-start" style="background-color: #45637d;">
  <div class="container p-4 gachduoi">
    <!--Grid row-->

      <div class="row">
        <div class="col-sm-4">
            <div>
              <div class="footer-logo">
                  <a href="https://hungthinhphat.com/">
                      
                      <img style="width:210px;height:60px;" src="../../../../assets/logotext.png" alt="">
                  </a>
              </div>
              <div class="company">CÔNG TY BẤT ĐỘNG SẢN HƯNG THỊNH PHÁT  </div>
              <div style="margin-bottom: 19px;" class="footer-company-item ml-text-14 ml-text-normal d-flex-start icon icon-location"><mat-icon>home</mat-icon> 30 Hai Bà Trưng - TP. Huế</div>
              <div class="d-flex footer-company-block-informations">
                  <div class="first">
                      <div class="footer-company-item ml-text-14 ml-text-normal icon icon-mail">
                         <mat-icon>email</mat-icon> hungthinhphat@hungthinhphat.vip
                      </div>
                      <div class="footer-company-item ml-text-14 ml-text-normal icon icon-phone"><mat-icon>phone</mat-icon> Hotline: 0943.457.222</div>

                  </div>
              </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-4 col-sm-4">
              <div class="footer-block-item-head">
                Công ty
            </div>
            <ul class="footer-links list-unstyled">
                <li>
                    <a href="/page/tuyen-dung" class="ml-text-14 ml-text-normal" target="_blank">
                        Tuyển dụng
                    </a>
                </li>
                <li>
                    <a href="/page/quy-che-hoat-dong" class="ml-text-14 ml-text-normal" target="_blank">
                        Quy chế hoạt động
                    </a>
                </li>
                <li>
                    <a href="/page/ve-meeyland" class="ml-text-14 ml-text-normal" target="_blank">
                        Về Hưng Thịnh Phát
                    </a>
                </li>
                <li>
                    <a href="/page/dieu-khoan-thoa-thuan" class="ml-text-14 ml-text-normal" target="_blank">
                        Điều khoản thỏa thuận
                    </a>
                </li>
                <li>
                    <a href="https://news.meeyland.com" class="ml-text-14 ml-text-normal" target="_blank">
                        Tin tức cổ đông
                    </a>
                </li>
            </ul>

            </div>
            <div class="col-4 col-sm-4">
              <div class="footer-block-item-head">
                  Hỗ trợ
              </div>
              <ul class="footer-links list-unstyled">
                  <li>
                      <a href="/page/co-che-giai-quyet-khieu-nai" class="ml-text-14 ml-text-normal" target="_blank">
                          Cơ chế giải quyết khiếu nại
                      </a>
                  </li>
                  <li>
                      <a href="/page/quy-dinh-dang-tin" class="ml-text-14 ml-text-normal" target="_blank">
                          Quy định đăng tin
                      </a>
                  </li>
                  <li>
                      <a href="/page/lien-he" class="ml-text-14 ml-text-normal" target="_blank">
                          Liên hệ
                      </a>
                  </li>
                  <li>
                      <a href="/page/bao-gia" class="ml-text-14 ml-text-normal" target="_blank">
                          Báo giá
                      </a>
                  </li>
                  <li>
                      <a href="/page/cau-hoi-thuong-gap" class="ml-text-14 ml-text-normal" target="_blank">
                          Câu hỏi thường gặp
                      </a>
                  </li>
              </ul>
            </div>
            <div class="col-4 col-sm-4">
                <div class="footer-block-item-head">
                    Liên kết
                </div>
                <div class="list-link-image" style="margin-bottom: 8px;">
                    <a href="https://www.facebook.com/hungthinhphat.edu.vn/?ref=page_internal" target="_blank" class="icon-fb"><mat-icon>facebook</mat-icon></a>
                    <a href="https://www.facebook.com/hungthinhphat.edu.vn/?ref=page_internal" target="_blank" class="icon-fb"><mat-icon>facebook</mat-icon></a>
                    <a href="https://www.facebook.com/hungthinhphat.edu.vn/?ref=page_internal" target="_blank" class="icon-yt"><mat-icon>facebook</mat-icon></a>
                </div>
            </div>
          </div>
        </div>
      </div>

    <!--Grid row-->
  </div>
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">BÁN ĐẤT HUẾ</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Bán đất dự án Huế</a>
            </li>
            <li>
              <a href="#!" class="text-white">Bán đất mặt tiền Huế</a>
            </li>
            <li>
              <a href="#!" class="text-white">Bán đất nông nghiệp Huế</a>
            </li>
            <li>
              <a href="#!" class="text-white">Bán đất quy hoạch Huế</a>
            </li>
            <li>
                <a href="#!" class="text-white">Bán đất sản xuất Huế</a>
            </li>
            <li>
                <a href="#!" class="text-white">Bán đất thổ cư Huế</a>
            </li>
            <li>
                <a href="#!" class="text-white">Bán đất trong kiệt Huế</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">BÁN NHÀ HUẾ</h5>
  
          <ul class="list-unstyled mb-0" >
            <li>
              <a href="#!" class="text-white">Bán nhà mặt tiền Huế</a>
            </li>
            <li>
              <a href="#!" class="text-white">Bán nhà biệt thự Huế</a>
            </li>
            <li>
              <a href="#!" class="text-white">Bán nhà trong kiệt Huế</a>
            </li>
            <li>
              <a href="#!" class="text-white">Bán nhà cấp 4 Huế</a>
            </li>
            <li>
                <a href="#!" class="text-white">Bán cửa hàng Huế</a>
            </li>

            <li>
                <a href="#!" class="text-white">Bán căn hộ chung cư Huế</a>
            </li>
            <li>
                <a href="#!" class="text-white">Bán căn hộ cao cấp Huế</a>
            </li>
            <li>
                <a href="#!" class="text-white">Bán dãy trọ – nhà nghỉ Huế</a>
            </li>

          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">CHO THUÊ ĐẤT HUẾ</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Cho thuê đất dự án Huế</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cho thuê đất mặt tiền Huế</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cho thuê đất nông nghiệp Huế</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cho thuê đất quy hoạch Huế</a>
            </li>
            <li>
                <a href="#!" class="text-white">Cho thuê đất sản xuất Huế</a>
            </li>
            <li>
                <a href="#!" class="text-white">Cho thuê đất thổ cư Huế</a>
            </li>
            <li>
               <a href="#!" class="text-white">Cho thuê đất trong kiệt Huế</a>
            </li>         
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">CHO THUÊ NHÀ HUẾ</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Cho thuê nhà mặt tiền Huế</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cho thuê nhà biệt thự Huế</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cho thuê nhà trong kiệt Huế</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cho thuê nhà nguyên căn Huế</a>
            </li>
            <li>
                <a href="#!" class="text-white">Cho thuê mặt bằng Huế</a>
              </li>
              <li>
                <a href="#!" class="text-white">Cho thuê căn hộ chung cư Huế</a>
              </li>
              <li>
                <a href="#!" class="text-white">Cho thuê nhà nguyên căn Huế</a>
              </li>
              <li>
                <a href="#!" class="text-white">Cho thuê căn hộ cao cấp Huế</a>
              </li>

              <li>
                <a href="#!" class="text-white">Cho thuê khách sạn Huế</a>
              </li>
              <li>
                <a href="#!" class="text-white">Cho thuê phòng trọ – nhà nghỉ Huế</a>
              </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Nam Pham:
      <a class="text-white" href="https://hungthinhphat.vip/">hungthinhphat.vip</a>
    </div>
    <!-- Copyright -->
  </footer>
