<hr class="new">
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">BÁN ĐẤT HUẾ</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">BÁN NHÀ HUẾ</button>
    </li>

  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <article *ngFor="let i=index;let dataphanloai1 of dataphanloai1 | paginate: { 
                                            itemsPerPage: 3,
                                            currentPage: page1,
                                            totalItems : totalLength1
                                        }" 
                class="card card-horizontal card-hover mb-grid-gutter">
                <div class="col">
                   <div class="card h-100">
                       <img src="https://namphamtrade.com/public/uploads/{{dataphanloai1.image[0]}}" class="card-img-top" width="600" height="300" alt="...">
                       <div class="card-body">
                           <h5 class="card-title"><a class="meta-link fs-sm mb-2 editkhuvuc" (click)='setIdbds(dataphanloai1.id,i)' routerLink="/bds/chitietbds/phanloai/{{dataphanloai1.id}}">{{dataphanloai1.khuvuc}}</a></h5>
                           <h5 class="h5 nav-heading mb-4"><a class="edit" [class.active]="i == currentIndex" (click)='setIdbds(dataphanloai1.id,i)' routerLink="/bds/chitietbds/phanloai/{{dataphanloai1.id}}">{{dataphanloai1.tenbds}}</a></h5>
                           <p class="fs-xs editmota">{{dataphanloai1.mota}}</p>
                       </div>
                        <div class="card-footer">
                            <a class="meta-link fs-xs" href="#"></a><span class="meta-divider"></span><a class="meta-link fs-xs" href="#"><i class="me-1 mt-n1"><mat-icon>paid</mat-icon></i>&nbsp;{{dataphanloai1.giabds}}</a>
                        </div>
                   </div>
                </div>
             </article>
         </div>
         <div class="d-md-flex justify-content-between align-items-center pt-3 pb-2">
            <div class="d-flex justify-content-center align-items-center mb-4">
            <label class="pe-1 me-2">Show</label>
            <select class="form-select me-2" style="width: 5rem;">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
            <div class="fs-sm text-nowrap ps-1 mb-1">posts per page</div>
            </div>
            <pagination-controls (pageChange)="page1 = $event"></pagination-controls>
        </div>
    </div>
    


    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <article *ngFor="let i=index;let dataphanloai2 of dataphanloai2 | paginate: { 
                                            itemsPerPage: 3,
                                            currentPage: page2,
                                            totalItems : totalLength2
                                        }" 
                class="card card-horizontal card-hover mb-grid-gutter">
                <div class="col">
                   <div class="card h-100">
                       <img src="https://namphamtrade.com/public/uploads/{{dataphanloai2.image[0]}}" class="card-img-top"  width="600" height="300" alt="...">
                       <div class="card-body">
                           <h5 class="card-title"><a class="meta-link fs-sm mb-2 editkhuvuc" routerLink="/bds/chitietbds/{{dataphanloai2.id}}">{{dataphanloai2.khuvuc}}</a></h5>
                           <h5 class="h5 nav-heading mb-4"><a class="edit" routerLink="/bds/chitietbds/{{dataphanloai2.id}}">{{dataphanloai2.tenbds}}</a></h5>
                           <p class="fs-xs editmota">{{dataphanloai2.mota}}</p>
                       </div>
                        <div class="card-footer">
                            <a class="meta-link fs-xs" href="#"></a><span class="meta-divider"></span><a class="meta-link fs-xs" href="#"><i class="me-1 mt-n1"><mat-icon>paid</mat-icon></i>&nbsp;{{dataphanloai2.giabds}}</a>
                        </div>
                   </div>
                </div>
             </article>
         </div>
         <div class="d-md-flex justify-content-between align-items-center pt-3 pb-2">
            <div class="d-flex justify-content-center align-items-center mb-4">
            <label class="pe-1 me-2">Show</label>
            <select class="form-select me-2" style="width: 5rem;">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
            <div class="fs-sm text-nowrap ps-1 mb-1">posts per page</div>
            </div>
            <pagination-controls (pageChange)="page2 = $event"></pagination-controls>
        </div>
    </div>
  </div>
